In [118]:
import pandas as pd
%matplotlib inline

import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler

In [119]:
data = pd.read_csv("./data/predict.csv")
data.head()

   id  carat        cut color clarity  depth  table     x     y     z
0   0   0.54    Premium     E     VS2   61.3   59.0  5.26  5.21  3.21
1   1   0.32      Ideal     J     VS2   62.1   54.0  4.38  4.44  2.74
2   2   0.30       Good     H    VVS2   63.6   56.0  4.26  4.29  2.72
3   3   0.66  Very Good     F     SI1   59.2   58.0  5.69  5.72  3.38
4   4   0.42      Ideal     F     VS2   62.0   55.0  4.79  4.82  2.98

In [120]:
le = preprocessing.LabelEncoder()

In [121]:
data["color_n"] = le.fit_transform(data["color"])
data.head()

   id  carat        cut color clarity  depth  table     x     y     z  color_n
0   0   0.54    Premium     E     VS2   61.3   59.0  5.26  5.21  3.21        1
1   1   0.32      Ideal     J     VS2   62.1   54.0  4.38  4.44  2.74        6
2   2   0.30       Good     H    VVS2   63.6   56.0  4.26  4.29  2.72        4
3   3   0.66  Very Good     F     SI1   59.2   58.0  5.69  5.72  3.38        2
4   4   0.42      Ideal     F     VS2   62.0   55.0  4.79  4.82  2.98        2

In [122]:
data["clarity_n"] = le.fit_transform(data["clarity"])
data.head()

,id,carat,cut,color,clarity,depth,table,x,y,z,color_n,clarity_n
0,0,0.54,Premium,E,VS2,61.3,59.0,5.26,5.21,3.21,1,5
1,1,0.32,Ideal,J,VS2,62.1,54.0,4.38,4.44,2.74,6,5
2,2,0.30,Good,H,VVS2,63.6,56.0,4.26,4.29,2.72,4,7
3,3,0.66,Very Good,F,SI1,59.2,58.0,5.69,5.72,3.38,2,2
4,4,0.42,Ideal,F,VS2,62.0,55.0,4.79,4.82,2.98,2,5

In [123]:
dic_para_cut = {"Ideal": 4,
                "Premium": 3,
                "Very Good": 2,
                "Good":1,
                "Fair":0
               }

In [124]:
data["cut_n"] = data["cut"].map(dic_para_cut)
data

,id,carat,cut,color,clarity,depth,table,x,y,z,color_n,clarity_n,cut_n
0,0,0.54,Premium,E,VS2,61.3,59.0,5.26,5.21,3.21,1,5,3
1,1,0.32,Ideal,J,VS2,62.1,54.0,4.38,4.44,2.74,6,5,4
2,2,0.30,Good,H,VVS2,63.6,56.0,4.26,4.29,2.72,4,7,1
3,3,0.66,Very Good,F,SI1,59.2,58.0,5.69,5.72,3.38,2,2,2
4,4,0.42,Ideal,F,VS2,62.0,55.0,4.79,4.82,2.98,2,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13480,13480,1.07,Premium,G,SI2,62.5,59.0,6.50,6.47,4.05,3,3,3
13481,13481,0.50,Premium,D,SI2,62.2,58.0,5.14,5.08,3.18,0,3,3
13482,13482,1.14,Premium,H,VS2,61.7,60.0,6.74,6.67,4.14,4,5,3
13483,13483,0.70,Very Good,I,SI1,59.4,62.0,5.77,5.82,3.44,5,2,2
13484,13484,0.34,Ideal,D,VS2,62.3,55.0,4.48,4.45,2.78,0,5,4

In [125]:
data.drop(["cut", "color", "clarity"], axis=1, inplace=True)
data.head()

   id  carat  depth  table     x     y     z  color_n  clarity_n  cut_n
0   0   0.54   61.3   59.0  5.26  5.21  3.21        1          5      3
1   1   0.32   62.1   54.0  4.38  4.44  2.74        6          5      4
2   2   0.30   63.6   56.0  4.26  4.29  2.72        4          7      1
3   3   0.66   59.2   58.0  5.69  5.72  3.38        2          2      2
4   4   0.42   62.0   55.0  4.79  4.82  2.98        2          5      4

In [126]:
X = data
X.head()

   id  carat  depth  table     x     y     z  color_n  clarity_n  cut_n
0   0   0.54   61.3   59.0  5.26  5.21  3.21        1          5      3
1   1   0.32   62.1   54.0  4.38  4.44  2.74        6          5      4
2   2   0.30   63.6   56.0  4.26  4.29  2.72        4          7      1
3   3   0.66   59.2   58.0  5.69  5.72  3.38        2          2      2
4   4   0.42   62.0   55.0  4.79  4.82  2.98        2          5      4

In [127]:
import pickle

In [128]:
load = pickle.load(open("mi cuarto mod", "rb"))

In [129]:
price = load.predict(X)
price

array([1820.07,  429.65,  612.62, ..., 5654.62, 2172.35, 1022.8 ])

In [130]:
data["price"] = price

In [131]:
submit4 = data[["id","price"]]

In [132]:
submit4

          id    price
0          0  1820.07
1          1   429.65
2          2   612.62
3          3  1868.88
4          4   969.82
...      ...      ...
13480  13480  4171.18
13481  13481  1245.21
13482  13482  5654.62
13483  13483  2172.35
13484  13484  1022.80

[13485 rows x 2 columns]

In [133]:
submit4.to_csv("data/submit4.csv", index = False, header=True)